/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #545454;
  --ifm-color-primary-dark: #404040;
  --ifm-color-primary-darker: #474747;
  --ifm-color-primary-darkest: #353535;
  --ifm-color-primary-light: #7d7d7d;
  --ifm-color-primary-lighter: #a0a0a0;
  --ifm-color-primary-lightest: #c5c5c5;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #eaeaea;
  --ifm-color-primary-dark: #b6b6b6;
  --ifm-color-primary-darker: #989898;
  --ifm-color-primary-darkest: #838383;
  --ifm-color-primary-light: #d8d8d8;
  --ifm-color-primary-lighter: #dddddd;
  --ifm-color-primary-lightest: #f0f0f0;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}